<h4 style="padding-left: .5em;">Welcome, {{name}}</h4>
{{#if allUsers}}
<table class="striped">
    <thead>
        <tr>
            <th>Google ID</th>
            <th>Display Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Image</th>
            <th>Role ID</th>
            <th>Biography</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each allUsers}}
            <tr>
                <td><a href="/users/{{googleId}}">{{googleId}}</a></td>
                <td>{{displayName}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{image}}</td>
                <td>{{roleId}}</td>
                <td>{{biography}}</td>
                <td><span class="dash-status">{{status}}</span></td>

                <td>
                    <form action="/users/{{googleId}}" method="POST" id="delete-form">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn red">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
